<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h4>
                    بسم الله الرحمن الرحيم، الحمد لله رب العالمين، وصلى الله وسلم وبارك على عبده ورسوله نبينا محمد وآله
                    وصحبه أجمعين
                </h4>
                <p>ปกป้องชัยคุลอิสลาม อิบนุตัยมิยะฮ์ หนึ่งในอุละมาอ์ผู้ปกป้องอิสลาม จากเหล่ากาฟิร และพวกนิยมอุตริกรรม</p>
            </div>
        </div>
    </div>
</div>
