<header>
    <nav role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo"><%= (page.title || config.title) %></a>
            <%- partial('_partial/side-nav') %>
        </div>
    </nav>
</header>
